@model PagedList.IPagedList<Model.EF.NoidungBMTT>
@using PagedList.Mvc;
@{
    ViewBag.Title = "BM";
    Layout = "~/Areas/GiaoVien/Views/Shared/_LayoutGV.cshtml";
}

<head>
    <link href="/Assets/Guest/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-sm-12">
                <ul class="breadcrumb">

                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>@ViewBag.Ten</li>
                </ul>
            </div>

            <!-- *** LEFT COLUMN ***
            _________________________________________________________ -->

            <div class="col-sm-9" id="blog-listing">
                @foreach (var item in Model)
                {
                    <div class="post">
                        <h2>@Html.ActionLink(item.Tieude, "CTBM", "BieuMauThuTuc", new { mandbm = item.MaNDBMTT, mabm = ViewBag.MaBM, tenbm = ViewBag.Ten }, null)</h2>
                        <p> @Html.Raw(item.NoidungBMTT1.Substring(0, Math.Min(item.NoidungBMTT1.Length, 550)))....</p>
                        <p class="read-more btn btn-primary"> @Html.ActionLink("Xem thêm", "CTBM", "BieuMauThuTuc", new { mandbm = item.MaNDBMTT, mabm = ViewBag.MaBM, tenbm = ViewBag.Ten }, new { style = "color: White" }) </p>
                    </div>
                }

                <div class="col-lg-12">
                    @Html.PagedListPager(Model, page => Url.Action("BM", new { page, mabm = ViewBag.MaBM }))
                </div>




            </div>
            <!-- /.col-md-9 -->
            <!-- *** LEFT COLUMN END *** -->
            <div class="col-md-3">
                <!-- *** BLOG MENU ***
                _________________________________________________________ -->
                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title">Đào tạo</h3>
                    </div>

                    <div class="panel-body">

                        <ul class="nav nav-pills nav-stacked">
                            <li>    @Html.ActionLink("Biểu mẫu", "BM", "BieuMauThuTuc", new { mabm = "BMTT1", tenbm = "Biểu mẫu" }, null)</li>
                            <li>    @Html.ActionLink("Quy định", "BM", "BieuMauThuTuc", new { mabm = "BMTT2", tenbm = "Quy định" }, null)</li>
                            <li>    @Html.ActionLink("Quy trình", "BM", "BieuMauThuTuc", new { mabm = "BMTT3", tenbm = "Quy trình" }, null)</li>
                            <li>    @Html.ActionLink("Khóa luận tốt nghiệp", "BM", "BieuMauThuTuc", new { mabm = "BMTT4", tenbm = "Khóa luận tốt nghiệp" }, null)</li>
                        </ul>
                    </div>

                </div>
                <!-- /.col-md-3 -->
                <!-- *** BLOG MENU END *** -->
                @*<div class="banner">
                        <img src="../../../cntt_media/khoa-cntt.jpg" alt="Khoa cntt" class="img-responsive">

                    </div>*@
            </div>


        </div>
        <!-- /.container -->
        <!-- /#content -->
    </div>

</body>





