@model Model.EF.NoidungBMTT
@{
    ViewBag.Title = "CTBM";
    Layout = "~/Areas/Guest/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="/Assets/Guest/css/khungbentrai.css" rel="stylesheet" id="theme-stylesheet">
</head>
<body>
    <div id="content">

        <div class="container">

            <div class="col-md-12">
                <ul class="breadcrumb">
                    <li>
                        @Html.ActionLink("Trang chủ", "Index", "Home")
                    </li>
                    <li>
                        @Html.ActionLink((string)ViewBag.Ten, "BM", "BieuMauThuTuc", new { mabm = ViewBag.MaBM, tenbm = ViewBag.Ten }, null)
                    </li>
                    <li>Thông tin</li>
                </ul>
            </div>

            <div class="col-md-3">
                <!-- *** PAGES MENU ***
                _________________________________________________________ -->
                <!-- *** PAGES MENU END *** -->

                <div class="panel panel-default sidebar-menu">

                    <div class="panel-heading">
                        <h3 class="panel-title" style="font-size:18px">Giới thiệu</h3>
                    </div>

                    <div class="panel-body">
                        <p>    @Html.ActionLink("Biểu mẫu", "BM", "BieuMauThuTuc",new { mabm="BMTT1",tenbm= "Biểu mẫu" },null)</p>
                        <p>    @Html.ActionLink("Quy định", "BM", "BieuMauThuTuc", new { mabm = "BMTT2", tenbm = "Quy định" }, null)</p>
                        <p>    @Html.ActionLink("Quy trình", "BM", "BieuMauThuTuc", new { mabm = "BMTT3", tenbm = "Quy trình" }, null)</p>
                        <p>    @Html.ActionLink("Khóa luận tốt nghiệp", "BM", "BieuMauThuTuc", new { mabm = "BMTT4", tenbm = "Khóa luận tốt nghiệp" }, null)</p>

                    </div>
                </div>

                <!-- *** PAGES MENU END *** -->
                @*<div class="banner">
                        <a href="#">
                            <img src="../../../cntt_media/khoa-cntt.jpg" alt="Khoa CNTT" class="img-responsive">
                        </a>
                    </div>*@
            </div>

            <div class="col-md-9">

                <div class="box" id="text-page">
                    <h1 style="font-size:22px">@Model.Tieude</h1>

                    @Html.Raw(@Model.NoidungBMTT1)
                    <hr>
                    <p>Đăng bởi: @Model.Tentaikhoan, Ngày: @Model.Ngaydang</p>
                    <p>Đính kèm: </p>
                </div>


            </div>
            <!-- /.col-md-9 -->
        </div>
        <!-- /.container -->
        <!-- /#content -->
    </div>
</body>
