
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
   This is a starter template page. Use this page to start your new project from
   scratch. This page gets rid of all links and provides the needed markup only.
   -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/Assets/Admin/plugins/images/admin-logo.png">
    <title>Khoa CNTT Đại học Sài Gòn</title>
    <!-- Bootstrap Core CSS -->
    <link href="~/Assets/Admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/plugins/bower_components/datatables/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.datatables.net/buttons/1.2.2/css/buttons.dataTables.min.css" rel="stylesheet" type="text/css" />
    <!-- Menu CSS -->
    <link href="~/Assets/Admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/plugins/bower_components/gallery/css/animated-masonry-gallery.css" />
    <link rel="stylesheet" type="text/css" href="~/Assets/Admin/plugins/bower_components/fancybox/ekko-lightbox.min.css" />
    <!-- Page plugins css -->
    <link href="~/Assets/Admin/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/plugins/bower_components/custom-select/custom-select.css" rel="stylesheet" type="text/css" />
    <link href="~/Assets/Admin/plugins/bower_components/switchery/dist/switchery.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugins/bower_components/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css" rel="stylesheet" />
    <link href="~/Assets/Admin/plugins/bower_components/multiselect/css/multi-select.css" rel="stylesheet" type="text/css" />
    <!-- Color picker plugins css -->
    <link href="~/Assets/Admin/plugins/bower_components/jquery-asColorPicker-master/css/asColorPicker.css" rel="stylesheet">
    <!-- Date picker plugins css -->
    <link href="~/Assets/Admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
    <!-- Daterange picker plugins css -->
    <link href="~/Assets/Admin/plugins/bower_components/timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Assets/Admin/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
    <!-- animation CSS -->
    <link href="~/Assets/Admin/css/animate.css" rel="stylesheet">
    <!-- Calendar CSS -->
    <link href="~/Assets/Admin/plugins/bower_components/calendar/dist/fullcalendar.css" rel="stylesheet" />
    <!-- Vector CSS -->
    <link href="~/Assets/Admin/plugins/bower_components/vectormap/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- wysihtml5 CSS -->
    <link rel="stylesheet" href="~/Assets/Admin/plugins/bower_components/html5-editor/bootstrap-wysihtml5.css" />
    <!-- Dropzone css -->
    <link href="~/Assets/Admin/plugins/bower_components/dropzone-master/dist/dropzone.css" rel="stylesheet" type="text/css" />
    <!-- Custom CSS -->
    <link href="~/Assets/Admin/css/style.css" rel="stylesheet">
    <!-- color CSS -->
    <link href="~/Assets/Admin/css/colors/megna-dark.css" id="theme" rel="stylesheet">
</head>

<body class="fix-header">
    <!-- ============================================================== -->
    <!-- Preloader -->
    <!-- ============================================================== -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>
    <!-- ============================================================== -->
    <!-- Wrapper -->
    <!-- ============================================================== -->
    <div id="wrapper">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <nav class="navbar navbar-default navbar-static-top m-b-0">
            <div class="navbar-header">
                <div class="top-left-part">
                    <!-- Logo -->
                    <a class="logo" href=@Url.Action("","Home")>
                        <!-- Logo icon image, you can use font-icon also --><b>
                            <!--This is dark logo icon--><img src="~/Assets/Admin/plugins/images/admin-logo.png" alt="home" class="dark-logo" /><!--This is light logo icon--><img src="~/Assets/Admin/plugins/images/admin-logo-dark.png" alt="home" class="light-logo" />
                        </b>
                        <!-- Logo text image you can use text also --><span class="hidden-xs">
                            <!--This is dark logo text--><img src="~/Assets/Admin/plugins/images/admin-text.png" alt="home" class="dark-logo" /><!--This is light logo text--><img src="~/Assets/Admin/plugins/images/admin-text-dark.png" alt="home" class="light-logo" />
                        </span>
                    </a>
                </div>
                <!-- /Logo -->
                <!-- Search input and Toggle icon -->
                <ul class="nav navbar-top-links navbar-left">
                    <li><a href="javascript:void(0)" class="open-close waves-effect waves-light"><i class="ti-menu"></i></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="mdi mdi-gmail"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                        <ul class="dropdown-menu mailbox animated bounceInDown">
                            <li>
                                <div class="drop-title">Bạn có 4 tin nhắn mới</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Assets/Admin/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>TanGay</h5> <span class="mail-desc">Cập nhật danh sách sinh viên</span> <span class="time">9:30 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Assets/Admin/plugins/images/users/sonu.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>GokuTran</h5> <span class="mail-desc">Thêm thông báo về đoàn hội</span> <span class="time">9:10 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Assets/Admin/plugins/images/users/arijit.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>SonZed</h5> <span class="mail-desc">Chỉnh sửa thông báo cho sinh viên</span> <span class="time">9:08 AM</span>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <div class="user-img"> <img src="~/Assets/Admin/plugins/images/users/pawandeep.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                        <div class="mail-contnet">
                                            <h5>ThanhEtn</h5> <span class="mail-desc">Cập nhật thông tin tuyển sinh đại học</span> <span class="time">9:02 AM</span>
                                        </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="text-center" href="javascript:void(0);"> <strong>Xem tất cả thư</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-messages -->
                    </li>
                    <!-- .Task dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle waves-effect waves-light" data-toggle="dropdown" href="#">
                            <i class="mdi mdi-check-circle"></i>
                            <div class="notify"><span class="heartbit"></span><span class="point"></span></div>
                        </a>
                        <ul class="dropdown-menu dropdown-tasks animated slideInUp">
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Văn phòng khoa</strong> <span class="pull-right text-muted">40% Hoàn thành</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%"> <span class="sr-only">40% Complete (success)</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Đào tạo</strong> <span class="pull-right text-muted">20% Hoàn thành</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"> <span class="sr-only">20% Complete</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Văn thể mỹ</strong> <span class="pull-right text-muted">60% Hoàn thành</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%"> <span class="sr-only">60% Complete (warning)</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a href="#">
                                    <div>
                                        <p> <strong>Đoàn hội</strong> <span class="pull-right text-muted">80% Hoàn thành</span> </p>
                                        <div class="progress progress-striped active">
                                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%"> <span class="sr-only">80% Complete (danger)</span> </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="text-center" href="#"> <strong>Xem tất cả</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-top-links navbar-right pull-right">
                    <li>
                        <form role="search" class="app-search hidden-sm hidden-xs m-r-10">
                            <input type="text" placeholder="Tìm kiếm..." class="form-control"> <a href=""><i class="fa fa-search"></i></a>
                        </form>
                    </li>

                    @{
                        var session = (DoAnKhoaIT.Common.TaikhoanLogin)Session[DoAnKhoaIT.Common.CommonConstants.USER_SESSION];
                    }

                    <li class="dropdown">
                        <a class="dropdown-toggle profile-pic" data-toggle="dropdown" href="#"> <img src="~/Assets/Admin/plugins/images/users/varun.jpg" alt="user-img" width="36" class="img-circle"><b class="hidden-xs" id="sessiontext">@session.Name</b><span class="caret"></span> </a>
                        <ul class="dropdown-menu dropdown-user animated flipInY">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img"><img src="~/Assets/Admin/plugins/images/users/varun.jpg" alt="user" /></div>
                                    <div class="u-text">
                                        <h4>@session.Name</h4>
                                        <p class="text-muted">@session.mail</p><a href="profile.html" class="btn btn-rounded btn-danger btn-sm">Xem hồ sơ</a>
                                    </div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-user"></i> Thông tin cá nhân</a></li>
                            <li><a href="@Url.Action("Index","Mail")"><i class="ti-email"></i> Tin nhắn </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Cài đặt cài khoản </a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("Index", "Dangnhap", new { Area = "Guest" })"><i class="fa fa-power-off"></i> Đăng xuất </a></li>
                        </ul>
                        <!-- /.dropdown-user -->
                    </li>
                    <!-- /.dropdown -->
                </ul>
            </div>
            <!-- /.navbar-header -->
            <!-- /.navbar-top-links -->
            <!-- /.navbar-static-side -->
        </nav>
        <!-- End Top Navigation -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav slimscrollsidebar">
                <div class="sidebar-head">
                    <h3><span class="fa-fw open-close"><i class="ti-close ti-menu"></i></span> <span class="hide-menu">Navigation</span></h3>
                </div>
                <ul class="nav" id="side-menu">
                    <li class="user-pro">
                        <a href=@Url.Action("Index","Home") class="waves-effect"><i class="mdi mdi-format-color-fill fa-fw"></i> <span class="hide-menu"> Trang chủ </span></a>

                    </li>

                    <li>
                        <a href="#" class="waves-effect"><i class="mdi mdi-format-color-fill fa-fw"></i> <span class="hide-menu"> Quản lý <span class="fa arrow"></span> <span class="label label-rouded label-success pull-right">9</span> </span></a>
                        <ul class="nav nav-second-level">
                            <li><a href=@Url.Action("Index","Thongtinnguoidung")><i data-icon="&#xe026;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Thông tin người dùng</span></a></li>
                            <li><a href=@Url.Action("Index","Bieumauthutuc")><i data-icon="&#xe025;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Biểu mẫu thủ tục</span></a></li>
                            <li><a href=@Url.Action("Index","Baidang")><i class="ti-layout-menu fa-fw"></i> <span class="hide-menu">Bài đăng</span></a></li>
                            <li><a href=@Url.Action("Index","Gioithieu")><i class="ti-alert fa-fw"></i> <span class="hide-menu">Giới thiệu</span></a></li>
                            <li><a href=@Url.Action("Index","Daotao")><i data-icon="k" class="linea-icon linea-software fa-fw"></i> <span class="hide-menu">Đào tạo</span></a></li>
                            <li><a href=@Url.Action("Index","Thongbaochuyentiep")><i data-icon="&#xe009;" class="linea-icon linea-basic fa-fw"></i> <span class="hide-menu">Thông báo chuyển tiếp</span></a></li>
                            <li><a href=@Url.Action("Index","Bomon")><i data-icon="&#xe009;" class="fa fa-eye fa-fw"></i> <span class="hide-menu">Bộ môn</span></a></li>
                            <li><a href=@Url.Action("Index","Nghiencuukhoahoc")><i data-icon="&#xe009;" class="fa fa-hacker-news fa-fw"></i> <span class="hide-menu">Nghiên cứu khoa học</span></a></li>
                            <li><a href=@Url.Action("Index","Congtacgiaovien")><i data-icon="&#xe009;" class="fa fa-empire fa-fw"></i> <span class="hide-menu">Công tác giáo viên</span></a></li>

                        </ul>
                    </li>

                    <li>
                        <a href="#" class="waves-effect"><i class="mdi mdi-content-copy fa-fw"></i> <span class="hide-menu"> Thống kê <span class="fa arrow"></span><span class="label label-rouded label-warning pull-right">2</span></span></a>
                        <ul class="nav nav-second-level">
                            <li><a href=@Url.Action("Index","Luottruycap")><i class="fa-fw">L</i> <span class="hide-menu">Lượt truy cập</span></a></li>
                            <li><a href=@Url.Action("Index","Thongkebaidang")><i class="fa-fw">B</i> <span class="hide-menu">Bài đăng</span></a></li>
                        </ul>
                    </li>
                    <li class="devider"></li>
                    <li>
                        <a href=@Url.Action("Index","Mail") class="waves-effect"><i class="mdi mdi-clipboard-text fa-fw"></i> <span class="hide-menu">Mail</span></a>
                    </li>
                    <li>
                        <a href=@Url.Action("Index","Saoluu") class="waves-effect"><i class="mdi mdi-clipboard-text fa-fw"></i> <span class="hide-menu">Sao lưu và phục hồi</span></a>
                    </li>
                    <li class="devider"></li>
                    <li> <a href=@Url.Action("Index","Googlemap") class="waves-effect"><i class="mdi mdi-google-maps fa-fw"></i><span class="hide-menu">Google Map</span></a> </li>
                    <li> <a href=@Url.Action("Index","Vectormap") class="waves-effect"><i class="mdi mdi-map-marker fa-fw"></i><span class="hide-menu">Vector Map</span></a> </li>
                    <li><a href=@Url.Action("Index", "Dangnhap", new { Area = "Guest" }) class="waves-effect"><i class="mdi mdi-logout fa-fw"></i> <span class="hide-menu">Đăng xuất</span></a></li>
                    <li class="devider"></li>
                    <li><a href=@Url.Action("Index","Huongdan") class="waves-effect"><i class="fa fa-circle-o text-danger"></i> <span class="hide-menu">Hướng dẫn</span></a></li>
                    <li><a href=@Url.Action("Index","Thuvien") class="waves-effect"><i class="fa fa-circle-o text-info"></i> <span class="hide-menu">Thư viện</span></a></li>
                    <li><a href=@Url.Action("Index","Quydinh") class="waves-effect"><i class="fa fa-circle-o text-success"></i> <span class="hide-menu">Quy định</span></a></li>
                </ul>
            </div>
        </div>
        <!-- ============================================================== -->
        <!-- End Left Sidebar -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page Content -->
        <!-- ============================================================== -->
        <div id="page-wrapper">
            @RenderBody()
            <!-- /.container-fluid -->
            <footer class="footer text-center"> Khoa Công Nghệ Thông Tin - Trường ĐH Sài Gòn </footer>
        </div>
        <!-- ============================================================== -->
        <!-- End Page Content -->
        <!-- ============================================================== -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="~/Assets/Admin/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    @*<script src="~/Scripts/jquery-ui.js"></script>*@
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Assets/Admin/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Sidebar menu plugin JavaScript -->
    <script src="~/Assets/Admin/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--Slimscroll JavaScript For custom scroll-->
    <script src="~/Assets/Admin/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="~/Assets/Admin/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Assets/Admin/js/custom.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/Admin/js/validator.js"></script>
    <script src="~/Assets/Admin/js/mask.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/switchery/dist/switchery.min.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/custom-select/custom-select.min.js" type="text/javascript"></script>
    <script src="~/Assets/Admin/plugins/bower_components/bootstrap-select/bootstrap-select.min.js" type="text/javascript"></script>
    <script src="~/Assets/Admin/plugins/bower_components/bootstrap-tagsinput/dist/bootstrap-tagsinput.min.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/Assets/Admin/plugins/bower_components/multiselect/js/jquery.multi-select.js"></script>

    <!-- start - This is for export functionality only -->
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.flash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/pdfmake.min.js"></script>
    <script src="https://cdn.rawgit.com/bpampuch/pdfmake/0.1.18/build/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.2.2/js/buttons.print.min.js"></script>
    <!-- end - This is for export functionality only -->
    <!-- Plugin JavaScript -->
    <script src="~/Assets/plugins/ckeditor/ckeditor.js"></script>
    <script src="~/Assets/plugins/ckfinder/ckfinder.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/moment/moment.js"></script>
    <!-- Clock Plugin JavaScript -->
    <script src="~/Assets/Admin/plugins/bower_components/clockpicker/dist/jquery-clockpicker.min.js"></script>
    <!-- Color Picker Plugin JavaScript -->
    <script src="~/Assets/Admin/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asColor.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/jquery-asColorPicker-master/libs/jquery-asGradient.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/jquery-asColorPicker-master/dist/jquery-asColorPicker.min.js"></script>
    <!-- Date Picker Plugin JavaScript -->
    <script src="~/Assets/Admin/plugins/bower_components/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- Date range Plugin JavaScript -->
    <script src="~/Assets/Admin/plugins/bower_components/timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <!-- Calendar JavaScript -->
    <script src="~/Assets/Admin/plugins/bower_components/moment/moment.js"></script>
    <script src='~/Assets/Admin/plugins/bower_components/calendar/dist/fullcalendar.min.js'></script>
    @*<script src="~/Assets/Admin/plugins/bower_components/calendar/dist/cal-init.js"></script>*@
    <!-- Chart JS -->
    <script src="~/Assets/Admin/plugins/bower_components/Chart.js/Chart.min.js"></script>
    <script src="~/Assets/Admin/plugins/bower_components/Chart.js/Chart.bundle.min.js"></script>
    <script src="~/Assets/plugins/Notify/notify.min.js"></script>
    <script>


        $(document).ready(function () {
            $('a[data-toggle="tab"]').on('show.bs.tab', function (e) {
                localStorage.setItem('activeTab', $(e.target).attr('href'));
            });
            var activeTab = localStorage.getItem('activeTab');
            if (activeTab) {
                $('#tabthongtinnguoidung a[href="' + activeTab + '"]').tab('show');
                $('#tabbaidangs a[href="' + activeTab + '"]').tab('show');
                $('#tabbieumauthutuc a[href="' + activeTab + '"]').tab('show');
                $('#tabdaotao a[href="' + activeTab + '"]').tab('show');
                $('#tabgioithieu a[href="' + activeTab + '"]').tab('show');
                $('#tabbomon a[href="' + activeTab + '"]').tab('show');
                $('#tabnghiencuukhoahoc a[href="' + activeTab + '"]').tab('show');
                $('#tabcongtacgiaovien a[href="' + activeTab + '"]').tab('show');
            }
        });

        // Clock pickers
        $('#single-input').clockpicker({
            placement: 'bottom',
            align: 'left',
            autoclose: true,
            'default': 'now'
        });
        $('.clockpicker').clockpicker({
            donetext: 'Done',
        }).find('input').change(function () {
            console.log(this.value);
        });
        $('#check-minutes').click(function (e) {
            // Have to stop propagation here
            e.stopPropagation();
            input.clockpicker('show').clockpicker('toggleView', 'minutes');
        });
        if (/mobile/i.test(navigator.userAgent)) {
            $('input').prop('readOnly', true);
        }
        // Colorpicker
        $(".colorpicker").asColorPicker();
        $(".complex-colorpicker").asColorPicker({
            mode: 'complex'
        });
        $(".gradient-colorpicker").asColorPicker({
            mode: 'gradient'
        });
        // Date Picker
        jQuery('.mydatepicker, #datepicker').datepicker();
        jQuery('#datepicker-autoclose,#datepicker-autoclose2').datepicker({
            autoclose: true,
            todayHighlight: true
        });
        jQuery('#date-range').datepicker({
            toggleActive: true
        });
        jQuery('#datepicker-inline').datepicker({
            todayHighlight: true
        });
        // Daterange picker
        $('.input-daterange-datepicker').daterangepicker({
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-daterange-timepicker').daterangepicker({
            timePicker: true,
            format: 'MM/DD/YYYY h:mm A',
            timePickerIncrement: 30,
            timePicker12Hour: true,
            timePickerSeconds: false,
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse'
        });
        $('.input-limit-datepicker').daterangepicker({
            format: 'MM/DD/YYYY',
            minDate: '06/01/2015',
            maxDate: '06/30/2015',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-danger',
            cancelClass: 'btn-inverse',
            dateLimit: {
                days: 6
            }
        });

        jQuery(document).ready(function () {
            // Switchery
            var elems = Array.prototype.slice.call(document.querySelectorAll('.js-switch'));
            $('.js-switch').each(function () {
                new Switchery($(this)[0], $(this).data());
            });
            // For select 2
            $(".select2").select2();
            $('.selectpicker').selectpicker();
            //Bootstrap-TouchSpin
            $(".vertical-spin").TouchSpin({
                verticalbuttons: true,
                verticalupclass: 'ti-plus',
                verticaldownclass: 'ti-minus'
            });
            var vspinTrue = $(".vertical-spin").TouchSpin({
                verticalbuttons: true
            });
            if (vspinTrue) {
                $('.vertical-spin').prev('.bootstrap-touchspin-prefix').remove();
            }
            $("input[name='tch1']").TouchSpin({
                min: 0,
                max: 100,
                step: 0.1,
                decimals: 2,
                boostat: 5,
                maxboostedstep: 10,
                postfix: '%'
            });
            $("input[name='tch2']").TouchSpin({
                min: -1000000000,
                max: 1000000000,
                stepinterval: 50,
                maxboostedstep: 10000000,
                prefix: '$'
            });
            $("input[name='tch3']").TouchSpin();
            $("input[name='tch3_22']").TouchSpin({
                initval: 40
            });
            $("input[name='tch5']").TouchSpin({
                prefix: "pre",
                postfix: "post"
            });
            // For multiselect
            $('#pre-selected-options').multiSelect();
            $('#optgroup').multiSelect({
                selectableOptgroup: true
            });
            $('#public-methods').multiSelect();
            $('#select-all').click(function () {
                $('#public-methods').multiSelect('select_all');
                return false;
            });
            $('#deselect-all').click(function () {
                $('#public-methods').multiSelect('deselect_all');
                return false;
            });
            $('#refresh').on('click', function () {
                $('#public-methods').multiSelect('refresh');
                return false;
            });
            $('#add-option').on('click', function () {
                $('#public-methods').multiSelect('addOption', {
                    value: 42,
                    text: 'test 42',
                    index: 0
                });
                return false;
            });
        });

    </script>
    <!--Style Switcher -->
    <script src="~/Assets/Admin/plugins/bower_components/styleswitcher/jQuery.style.switcher.js"></script>
    <script>
        var s = 0;
        setInterval(function () {          
            $.ajax({
                url: '/VanPhongKhoa/Mail/hopthuden',
                type: 'POST',
                dataType: 'json',
                data: {},
                success: function (e) {                    
                    if (s != e.res) {
                        $.notify("Bạn có " + e.res + " thư mới", "success");
                        s = e.res;
                        if (document.getElementById("thuden").innerHTML != null) {
                            document.getElementById("thuden").innerHTML = e.res;
                        }                       
                    } else {
                        
                    }
                }
            });
        }, 1000);
    </script>
    @RenderSection("JsFooter", required: false)



</body>

</html>