@model  Model.ViewModel.ThongbaochuyentiepModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/VanPhongKhoa/Views/Shared/_Layout.cshtml";
}


@section jsFooter{


    <script src="~/Assets/Admin/js/admin/controller/Thongbaochuyentiepadmin.js"></script>

}

<div class="container-fluid">
    <div class="row bg-title">
        <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
            <h4 class="page-title">Quản lý</h4>
        </div>
        <div class="col-lg-9 col-sm-8 col-md-8 col-xs-12">
            <button class="right-side-toggle waves-effect waves-light btn-info btn-circle pull-right m-l-20"><i class="ti-settings text-white"></i></button>

            <ol class="breadcrumb">
                <li><a href="#">Quản lý</a></li>
                <li class="active">Thông báo chuyển tiếp</li>
            </ol>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /row -->
    <div class="row">
        <div class="col-sm-12">
            <div class="white-box" id="tabchuyentiep">
                <ul class="nav customtab nav-tabs" role="tablist">
                    <li role="presentation" id="tabchuyentiep" class="active"><a href="#chuyentiep1" aria-controls="chuyentiep" role="tab" data-toggle="tab" aria-expanded="true"><i class="ti-home"></i><span class="hidden-xs">Chuyển tiếp</span></a></li>
                </ul>
                <!-- Tab panes -->
                <!-- bảng chuyển tiếp -->

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="chuyentiep1">
                        <!-- button thêm -->
                        <div style="margin-bottom: 15px">
                            <button class="btn btn-success" data-toggle="modal" data-target="#themchuyentiep"> Thêm chuyển tiếp </button>
                        </div>
                        <!-- modal -->

                        <div id="themchuyentiep" class="modal fade" role="dialog">
                            <div class="modal-dialog  modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Thêm chuyển tiếp</h4>
                                    </div>

                                    <form data-toggle="validator" class="form-horizontal">
                                        <div class="modal-body">
                                            <div class="white-box col-lg-12 m-b-0">
                                                <h3 class="box-title m-b-0">Thông tin chuyển tiếp</h3>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Mã chuyển tiếp </label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.thongbaochuyentiep.Machuyentiep, "", new { @type = "text", @class = "form-control machuyentiepadd", @placeholder = "Mã chuyển tiếp", @required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Người nhận </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(Model => Model.chitietchuyentiep.Taikhoannhan, new SelectList(Model.listtaikhoan, "Tentaikhoan", "Tentaikhoan"), new { @id = "chuyentiepadd_nguoinhan", @class = "form-control nguoinhanchuyentiepadd", required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Tiêu đề </label>
                                                    <div class="col-md-12">
                                                        @*@Html.TextBoxFor(model => model.baidang.Maloai, "", new { @type = "text", @class = "form-control maloaiadd", @placeholder = "Mã loại", @required = "required" })*@
                                                        @Html.TextBoxFor(Model => Model.thongbaochuyentiep.Tieude, "", new { @class = "form-control tieudechuyentiepadd", @placeholder = "Tiêu đề", required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Nội dung </label>
                                                    <div class="col-md-12">
                                                        @Html.TextAreaFor(model => model.thongbaochuyentiep.Noidung, new { @type = "text", @class = "form-control noidungchuyentiepadd", @id = "chuyentiepadd_noidung", @placeholder = "Nội dung", @required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Flag </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(Model => Model.thongbaochuyentiep.Flag, new SelectList(ViewBag.Trangthai, "id", "flag"), new { @id = "chuyentiepadd_flag", @class = "form-control flagchuyentiepadd", required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                            <button type="button" id="btnthemchuyentiep" class="btn btn-success waves-effect waves-light m-r-30">Thêm</button>

                                        </div>
                                    </form>


                                </div>

                            </div>
                        </div>
                        <div id="suachuyentiep" class="modal fade" role="dialog">
                            <div class="modal-dialog  modal-lg">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <h4 class="modal-title">Sửa chuyển tiếp</h4>
                                    </div>

                                    <form data-toggle="validator" class="form-horizontal">
                                        <div class="modal-body">
                                            <div class="white-box col-lg-12 m-b-0">
                                                <h3 class="box-title m-b-0">Thông tin chuyển tiếp</h3>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Mã chuyển tiếp </label>
                                                    <div class="col-md-12">
                                                        @Html.TextBoxFor(model => model.thongbaochuyentiep.Machuyentiep, "", new { @type = "text", @class = "form-control machuyentiepedit", @placeholder = "Mã chuyển tiếp", @required = "required", @readonly = "readonly" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Người nhận </label>
                                                    <div class="col-md-12">
                                                        @Html.DropDownListFor(Model => Model.thongbaochuyentiep.Flag, new SelectList(Model.listtaikhoan, "Tentaikhoan", "Tentaikhoan"), new { @id = "chuyentiepedit_nguoinhan", @class = "form-control nguoinhanchuyentiepedit", required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Tiêu đề </label>
                                                    <div class="col-md-12">
                                                        @*@Html.TextBoxFor(model => model.baidang.Maloai, "", new { @type = "text", @class = "form-control maloaiadd", @placeholder = "Mã loại", @required = "required" })*@
                                                        @Html.TextBoxFor(Model => Model.thongbaochuyentiep.Tieude, "", new { @class = "form-control tieudechuyentiepedit", @placeholder = "Tiêu đề", required = "required" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-md-12"> Nội dung </label>
                                                    <div class="col-md-12">
                                                        @Html.TextAreaFor(model => model.thongbaochuyentiep.Noidung, new { @type = "text", @class = "form-control noidungchuyentiepedit", @id = "chuyentiepedit_noidung", @placeholder = "Nội dung", @required = "required" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">

                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                            <button type="button" id="btnsuachuyentiep" class="btn btn-success waves-effect waves-light m-r-30">Lưu</button>

                                        </div>
                                    </form>


                                </div>

                            </div>
                        </div>

                        <div class="panel">
                            Ẩn cột: <a class="toggle-vis" id="tchuyentiep" data-column="1">Tài khoản gửi</a> / <a class="toggle-vis" id="tchuyentiep" data-column="2">Tiêu đề</a> / <a class="toggle-vis" id="tchuyentiep" data-column="3">Nội dung</a> / <a class="toggle-vis" id="tchuyentiep" data-column="4">Ngày chuyển</a> / <a class="toggle-vis" id="tchuyentiep" data-column="5">Flag</a> / <a class="toggle-vis" id="tchuyentiep" data-column="6">Chức năng</a>
                        </div>
                        <div class="table-responsive">
                            <table id="chuyentiepTable" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Mã chuyển tiếp</th>
                                        <th>Tài khoản gửi</th>
                                        <th>Tiêu đề</th>
                                        <th> Nội dung </th>
                                        <th>Ngày chuyển</th>
                                        <th>Flag</th>
                                        <th>Chức năng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.listthongbaochuyentiep)
                                    {
                                        <tr>
                                            <td class="machuyentiep">@item.Machuyentiep</td>
                                            <td>@item.Taikhoangui</td>
                                            <td>@item.Tieude</td>
                                            <td>
                                                @Html.Raw(item.Noidung.Substring(0, Math.Min(item.Noidung.Length, 350)))
                                                @if (item.Noidung.Length > 350)
                                                {
                                                    <span>...</span>
                                                }
                                            </td>
                                            <td>@item.Ngaychuyen</td>
                                            <td>
                                                <a class="btnchuyentiepflag" data-machuyentiep="@item.Machuyentiep" hres="#">
                                                    @if (@item.Flag != 1)
                                                    {
                                                        <span class="text-info"> Không khóa </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="text-danger"> Khóa </span>
                                                    }
                                                </a>
                                            </td>
                                            <td>
                                                <button class="btnloadchuyentiep" type="button" data-toggle="modal" data-target="#suachuyentiep" style="background-color:transparent;border:none">
                                                    <i class="fa fa-pencil-square-o" style="color:red"> </i>
                                                </button>
                                            </td>

                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
            <!-- /.row -->
            <!-- ============================================================== -->
            <!-- Right sidebar -->
            <!-- ============================================================== -->
            <!-- .right-sidebar -->
            <div class="right-sidebar">
                <div class="slimscrollright">
                    <div class="rpanel-title"> Service Panel <span><i class="ti-close right-side-toggle"></i></span> </div>
                    <div class="r-panel-body">
                        <ul id="themecolors" class="m-t-20">
                            <li><b>With Light sidebar</b></li>
                            <li><a href="javascript:void(0)" data-theme="default" class="default-theme">1</a></li>
                            <li><a href="javascript:void(0)" data-theme="green" class="green-theme">2</a></li>
                            <li><a href="javascript:void(0)" data-theme="gray" class="yellow-theme">3</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue" class="blue-theme">4</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple" class="purple-theme">5</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna" class="megna-theme">6</a></li>
                            <li><b>With Dark sidebar</b></li>
                            <br />
                            <li><a href="javascript:void(0)" data-theme="default-dark" class="default-dark-theme">7</a></li>
                            <li><a href="javascript:void(0)" data-theme="green-dark" class="green-dark-theme">8</a></li>
                            <li><a href="javascript:void(0)" data-theme="gray-dark" class="yellow-dark-theme">9</a></li>
                            <li><a href="javascript:void(0)" data-theme="blue-dark" class="blue-dark-theme">10</a></li>
                            <li><a href="javascript:void(0)" data-theme="purple-dark" class="purple-dark-theme">11</a></li>
                            <li><a href="javascript:void(0)" data-theme="megna-dark" class="megna-dark-theme working">12</a></li>
                        </ul>
                        <ul class="m-t-20 all-demos">
                            <li><b>Choose other demos</b></li>
                        </ul>
                        <ul class="m-t-20 chatonline">
                            <li><b>Chat option</b></li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/varun.jpg" alt="user-img" class="img-circle"> <span>Varun Dhavan <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/genu.jpg" alt="user-img" class="img-circle"> <span>Genelia Deshmukh <small class="text-warning">Away</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/ritesh.jpg" alt="user-img" class="img-circle"> <span>Ritesh Deshmukh <small class="text-danger">Busy</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/arijit.jpg" alt="user-img" class="img-circle"> <span>Arijit Sinh <small class="text-muted">Offline</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/govinda.jpg" alt="user-img" class="img-circle"> <span>Govinda Star <small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/hritik.jpg" alt="user-img" class="img-circle"> <span>John Abraham<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/john.jpg" alt="user-img" class="img-circle"> <span>Hritik Roshan<small class="text-success">online</small></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><img src="../plugins/images/users/pawandeep.jpg" alt="user-img" class="img-circle"> <span>Pwandeep rajan <small class="text-success">online</small></span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Right sidebar -->
            <!-- ============================================================== -->
        </div>
    </div>
</div>

